body {
  margin: 0;
  font-family: 'Roboto', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;

  --brand-color: #ff8317;
  --brand-light-color: #fcac66;
  --brand-dark-color: #e66400;

  --primary-text-color: #000000;
  --secondary-text-color: #989898;

  --bg-color: #ffffff;
  --popup-bg-color: #fdfdfd;

  --shadow: 0 0 20px 0px var(--primary-text-color);

  color: var(--primary-text-color);
}

#root {
  min-height: 100vh;
  background: url('./images/bg.jpg');
}

.fadeIn {
  animation: 1s fadeIn forwards;
}

.fadeOut {
  animation: 0.5s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
