body {
  margin: 0;
  font-family: 'Roboto', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;

  --brand-color: #ff8317;
  --brand-light-color: #fcac66;
  --brand-dark-color: #e66400;

  --primary-text-color: #000000;
  --secondary-text-color: #797878;

  --border-color: #989898;

  --bg-color: #ffffff;
  --popup-bg-color: #fdfdfd;

  --shadow: 0 0 20px 0px var(--primary-text-color);

  color: var(--primary-text-color);
}

#root {
  min-height: 100vh;
  width: 100vw;
  background: url('./images/bg.jpg');
}

.fadeIn {
  animation: 1s fadeIn forwards;
}

.fadeOut {
  animation: 0.5s fadeOut forwards;
}

.appear {
  transform-origin: top;
  animation: 1s appear forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.expandable.expand {
  animation: 1s expand forwards;
  opacity: 1;
  visibility: visible;
}

.expandable {
  opacity: 0;
  visibility: hidden;
  transform-origin: top;
  transition: 1s ease;

  animation: 1s collapse forwards;
}

@keyframes expand {
  from {
    transform: scale(1, 0);
  }

  to {
    transform: scale(1, 1);
  }
}

@keyframes collapse {
  from {
    transform: scale(1, 1);
  }

  to {
    transform: scale(1, 0);
  }
}
