html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
  width: 100vw;

  font-family: 'Be Vietnam', serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --brand-color: #F3603C;
  --brand-color-light: #FFF0EC;

  --button-bg: var(--brand-color);
  --button-hovered-bg: #F98F75;
  --button-color: #FCF6F5;
  --button-hovered-color: #FCF6F5;
  --button-shadow-color: #FF9F8E;

  --button-invert-bg: #FFFFFF;
  --button-invert-hovered-bg: #FFFFFF;
  --button-invert-color: var(--brand-color);
  --button-invert-hovered-color: #F8AE9B;
  --button-invert-shadow-color: #DB5943;

  --footer-bg: #1D1E25;

  --footer-text-color: #FFFFFF;
  --footer-text-hovered-color: var(--brand-color);

  --primary-text-color: #242D52;
  --secondary-text-color: #242D5280;

  --menu-item-color: var(--primary-text-color);
  --menu-item-hovered-color: var(--secondary-text-color);

  --logo-dark-color: var(--primary-text-color);
  --logo-light-color: #FFFFFF;

  --card-bg: #FAFAFA;

  --copyright-text-color: #ffffff80;

  --input-placeholder-color: #8D8D8D;

  --invalid-color: #F33C3C;

  --dropdown-menu-bg-color: #FFFFFF;
  --dropdown-menu-shadow-color: #50566208;
}

#root {
  width: 100vw;
  overflow-x: hidden;
}

.prevent-scroll {
  overflow: hidden;
}

.expandable.expand {
  animation: 1s expand forwards;
  opacity: 1;
  visibility: visible;
}

.expandable {
  opacity: 0;
  visibility: hidden;
  transform-origin: top;
  transition: 1s ease;

  animation: 1s collapse forwards;
}

@keyframes expand {
  0% {
    transform: scale(1, 0);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes collapse {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 0);
  }
}

.no-darken {
  animation: 1s no-darken forwards;
  background: linear-gradient(#00000000, #00000099) no-repeat;
}

.darken {
  visibility: visible;
  animation: 1s darken forwards;
  background: linear-gradient(#00000000, #00000099) no-repeat;
}

@keyframes darken {
  0% {
    background-position-y: 100vh;
  }

  100% {
    background-position-y: 0vh;
  }
}

@keyframes no-darken {
  0% {
    background-position-y: 0vh;
  }

  100% {
    background-position-y: 100vh;
    visibility: hidden;
  }
}